<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      type="image/jpg"
      href="https://img.freepik.com/free-vector/gradient-quill-pen-logo-design-template_23-2149878682.jpg?size=338&ext=jpg&ga=GA1.1.1413502914.1726012800&semt=ais_hybrid"
    />
    <title>dast server</title>
  </head>
  <body>
    <main>
      <header>
        <p>my server</p>
        <a href="https://silvante.netlify.app">authors portfolio</a>
      </header>
      <h1 class="title"><%= title %></h1>
      <footer>
        <p>my server</p>
        <a href="https://silvante.netlify.app">authors portfolio</a>
      </footer>
    </main>
  </body>
</html>
